div.nicEdit-panel > div {

  display: none;

}

div.nicEdit-panel > div:nth-child(2) {

  display: block !important;

}

div.nicEdit-panel > div:nth-child(3) {

  display: block !important;

}

div.nicEdit-panel > div:nth-child(4) {

  display: block !important;

}

div.nicEdit-panel > div:nth-child(5) {

  display: block !important;

}

div.nicEdit-panel > div:nth-child(6) {

  display: block !important;

}

div.nicEdit-panel > div:nth-child(7) {

  display: block !important;

}

div.nicEdit-panel > div:nth-child(8) {

  display: block !important;

}

